.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);   /* Hiển thị số lượng ảnh trên 1 dòng */
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 8px;
}

.product img {
    width: 250px;  /* Kích thước cố định */
    height: 350px;
    object-fit: cover; /* Giữ tỷ lệ và cắt ảnh nếu cần */
    border-radius: 5px;
}

.product h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product p {
    font-size: 1em;
    color: #666;
}
