body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

.marquee {
    width: 100%;
    overflow: hidden;
    background-color: #4CAF50;
    color: yellow;
    padding: 9px 0;
    position: fixed;
    top: -2px;
    z-index: 1001;
}

.marquee p {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
    font-size: 1em;
}

@keyframes marquee {
    0% {
        transform: translateX(400%);
    }
    100% {
        transform: translateX(-30%);
    }
}

.main-header {
    background: linear-gradient(to right, #4CAF50, #81C784);
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 40px; /* Adjusted to account for the height of the marquee */
    z-index: 1000;
    transition: background 0.5s ease;
}

.main-header:hover {
    background: linear-gradient(to right, #388E3C, #66BB6A);
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.store-name {
    font-size: 3em;
    margin: 0;
    animation: fadeInDown 1s ease-in-out;
}

.tagline {
    font-size: 1.5em;
    margin: 5px 0 20px;
    animation: fadeInUp 1s ease-in-out;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-nav ul li {
    position: relative;
}

.main-nav ul li button {
    color: white;
    background: none;
    border: none;
    font-size: 1.2em;
    padding: 10px 15px;
    transition: background 0.3s, color 0.3s;
    cursor: pointer;
}

.main-nav ul li button:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-500px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}